*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    width: 100%;
    background-image: url(zath.jpg);
    font-weight: bold;
    font-family: Arial;
    text-transform: uppercase;
    font-style: italic;
}

.container{
    /* background-color: rgba(61, 197, 179, 0.418); */
    width: 100%;
    display: grid;
    grid-template-rows: 10vh 60vh 160vh;
   grid-template-areas: 'header header header'
                        'main main main';
}

.main{
    border-radius: 5px;
    margin: auto;
    width: 50%;
    height: 30rem;
    background-color: rgba(0, 0, 255, 0.39);
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;


}
.isi img{
    border: 2px solid whitesmoke;
    box-shadow: 2px 2px 2px 0.8px;
    border-radius: 70%;
    display: inline-block;
    width: 13rem;
    height: 15em;
}
.isi button{
    margin: 10px;
    width: 50px;
}

.isi ul li{
    margin: 4px;
}

.isi h4{
    border-radius: 5px;
    border-bottom: 2px solid black;
    margin: auto;
    background-color: antiquewhite;
    width: max-content;
}
/* this my head */
.header{
    /* opacity: 0; */
    height: 10vh;
    width: 100%;
    position: fixed;
    grid-area: header;
    background-color: blueviolet;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav{
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    border-radius: 5px;
}
nav:hover{
    background-color:rgb(34, 3, 63);
}

nav a:hover{
    box-shadow: 1px 2px 2px 0.5px;
    border: 0px solid black ;
    color: black;
    background-color: white;
    border-radius: 5px;
    font-size: 20px;
}
span{
    color: white;
}
span p{
    float: right;
    font-size: 9px;
}


/* section */
section{
    border-top: 3px solid black;
    margin: 30px auto;
    align-items: center;
    column-gap: 30px;
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 100rem;
}

section img{
    border: 3px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 2px 2px 7px 0.8px;
    display: inline-block;
    width: 40vw;
    height: 350px;
}

.card{
    background-color: aliceblue;
    width: min-content;
    border-radius: 5px;
}
.conten-dua{
    width: 60vw;
}

/* reponsive */

@media (max-width: 400px){
    .main{
        grid-template-columns: 30% 30%;
        grid-template-rows: 40% 10%;
        grid-template-areas: 'isi isi'
                            'conten conten';
         place-content: center;
         justify-items: center;
         column-gap: 5%;
    }
}


@media (max-width: 800px){
  .conten-dua{
    display: grid;
    font-weight: bold;
    font-size: 9px;
    column-gap: 30vw;
    width: 70vw;
  }
    
}


